#circle {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    cursor: pointer;
  }

#circle:focus {
  outline: 7px dashed black;
}

div#circle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#parent{
  display: block;
  width: 400px;
  height: 400px;
  background: #E5F0FF;
  margin-left: auto;
  margin-right: auto;
}
  